<div class="mx-auto text-center">
  <div
    class="mt-10 sm:px-32 rounded-md sm:shadow sm:py-16 mx-auto inline-block"
  >
    <div class="">
      <i class="material-icons text-5xl text-indigo-900">privacy_tip</i>
      <p class="text-2xl text-indigo-900">Reset Password</p>
    </div>
    <form [formGroup]="resetPwd" (ngSubmit)="onSubmit()">
      <input
        type="password"
        class="bg-indigo-100 px-3 py-2 my-4 rounded-md w-64"
        placeholder="password.."
        formControlName="password"
      /><br />
      <input
        type="password"
        class="bg-indigo-100 px-3 py-2 my-2 rounded-md w-64"
        placeholder="Confirm Password.."
        formControlName="confirmPassword"
      /><br />
      <button
        [disabled]="!resetPwd.valid"
        class="flex justify-center mt-8 mx-auto bg-indigo-500 px-2 py-2 rounded-full text-white"
      >
        <p class="px-2">ReSet</p>
        <i class="material-icons px-1">loop</i>
      </button>

      <p class="text-xs mt-6 text-gray-700">
        <a [routerLink]="['/sign-in']">Back to Signin</a>
      </p>
    </form>
  </div>
</div>
