<nav class="flex text-indigo-900 justify-between sm:px-10 px-4 h-16">
  <div class="my-auto flex sm:w-2/12 w-full">
    <img
      src="../../assets/logo.png"
      width="60px"
      class="sm:w-60px w-12"
      alt=""
    />
    <p class="my-auto pl-4 text-xl">Pin Up</p>
  </div>
  <div class="my-auto sm:flex hidden w-4/12">
    <input
      type="text"
      class="bg-gray-100 py-2 px-3 w-full rounded"
      placeholder="search here.."
      name=""
      id=""
    />
  </div>
  <div class="my-auto sm:flex flex justify-end sm:w-4/12 w-1/12">
    <i class="material-icons px-1 sm:block hidden">face</i>
    <p class="cursor-pointer hover:text-gray-600 sm:block hidden text-gray-700">
      Hey , {{user_name | uppercase }}
    </p>
    <div class="flex px-4">
      <i class="material-icons px-1 sm:block hidden">login</i>
      <p class="sm:text-base text-sm cursor-pointer hover:text-gray-600" (click)="signOut()" >SignOut</p>
    </div>
    <p
      id="toggle-btn"
      class="cursor-pointer hover:text-gray-600 sm:hidden block text-gray-700"
    >
      <i class="material-icons">drag_indicator</i>
    </p>
  </div>
</nav>

<div class="flex">
  <div
    class="sidebar text-white rounded-r-lg w-2/12 py-8 sm:block hidden px-2 bg-indigo-800 min-h-screen"
  >
    <div class="flex hover:bg-gray-900 my-4 py-2 sm:justify-start justify-center sm:px-4 cursor-pointer rounded-full">
      <i class="material-icons">spa</i>
      <p class="my-auto ml-2 sm:block hidden">Overview</p>
    </div>
    <a [routerLink]="[ '/','home','docs']">
    <div class="flex hover:bg-gray-900 my-4 py-2 sm:justify-start justify-center sm:px-4 cursor-pointer rounded-full">
        <i class="material-icons">description</i>
        <p class="my-auto ml-2 sm:block hidden">Documents</p>
      </div>
    </a>
    <div class="flex hover:bg-gray-900 my-4 py-2 sm:justify-start justify-center sm:px-4 cursor-pointer rounded-full">
      <i class="material-icons">event</i>
      <p class="my-auto ml-2 sm:block hidden">Tasks</p>
    </div>
    <div class="flex bg-blue-100 sm:flex hidden mt-12 text-black py-2 sm:justify-start justify-center sm:px-4  rounded-full">
      <i class="material-icons sm:block hidden">face</i>
      <p class="my-auto ml-2 text-sm sm:block hidden"><span class="text-sm text-gray-800">Hey,</span>{{user_name| uppercase}}</p>
    </div>
    <div class="mx-auto cursor-pointer" (click)="signOut()">
      <div class="text-center flex mt-6 ml-6"> <p class="px-2 sm:block hidden">SignOut</p> <i class="material-icons sm:ml-0 -ml-4">login</i></div>
    </div>
  </div>
  <div class="w-10/12">
    <!-- <quill-editor></quill-editor> -->
    <router-outlet></router-outlet>
  <!-- <app-docs-list></app-docs-list> -->
  </div>
</div>



